body 
{
	font-family: Arial;
	background-color: black;
}

div
{
	width: 900px;
	display:block;
	margin:auto;
}

h1
{
	padding-left: 10px;
}

header 
{
	border-radius: 10px 10px 0px 0px;
	width: 100%;
	background-color: #5b7989;
	color: white;
	text-shadow: 2px 2px #02010a;
	padding: 3px;
}

p
{	
	font-size: 18px;
	float: right;
	display: block;
	margin: 10px 15px;
	text-shadow: none;

}

a
{	
	color: white;
}

#section_paisajes
{
	width: 100%;
	height: 500px;
	background-color: #d5c75f;
	padding: 3px;

}

footer
{
	width: 100%;
	height: 150px;
	background-color: #C6d5c5;
	padding: 3px;
	border-radius: 0px 0px 10px 10px;
}


#section_paisajes div img
{
  	height: 200px;
	width: 250px;
}


.img1
{
	border: 2px solid black; 
	margin: 10px 10px;
	position: absolute;
	float: left;
	width: auto;
}

.img2
{
	border: 2px solid black; 
	margin: 10px 325px;
	position: absolute;
	width: auto;
}

.img3
{
	border: 2px solid black; 
	margin: 0px 10px;
	position: fixed;	
	margin: 10px 635px;
	width: auto;
}

.img4
{
	border: 2px solid black; 
	margin: 280px 10px;
	position: absolute;
	float: left;
	width: auto;
}

.img5
{
	border: 2px solid black; 
	margin: 280px 325px;
	position: absolute;
	width: auto;

}

.img6
{
	border: 2px solid black; 
	position: fixed;	
	margin: 280px 635px;
	width: auto;
}


