
*
{
	margin:0px;
}

body
{
	font-family: 'Dancing Script', cursive;
	background-color: #02010a;
	animation: miAnimacion 1.5s;
}

#contenido
{
	max-width: 900px;
	margin: auto;
	padding: 5px;
	background-color: #02010a;
}

@-webkit-keyframes miAnimacion
{
	0%
	{
		margin-top: 150%;	
	}
	60%
	{
		margin-top: -5%;	
	}
	100%
	{
		margin-top: 0%;
	}
}

/*ENCABEZADO*/

header
{
	background-color: #5b7989;
	color: white;
	max-width: 100%;
	border-radius: 10px 10px 0px 0px;
	overflow: hidden;
}

header a
{
	color: white;

}


header li
{
	float: left;
	list-style: none;
	margin: 0px 15px;
	padding: 15px 00px;
}

#titulo
{
	float: left;
	text-shadow: 2px 2px #02010a;
	padding: 10px;
}

#enlaces
{
	float: right;
}

#cabecera #enlaces .active a:link, #cabecera #enlaces .active a:visited 
{
	text-decoration: none;
}

/*IMAGENES CETRALES*/

#imgcentral
{
	background-color: #d5c75f;
	max-width: 100%;
	padding-bottom: 10px;
	overflow: hidden;
}

.img
{
	width: 90%;
	height: 200px;
	margin: auto;
	display: block;
	box-shadow: 2px 2px #02010a;
	margin-top: 20px;
	margin-bottom: 20px;
}

#img1
{
	width: 33.3%;
	float: left;
	-webkit-filter:blur(10px);
	filter: blur(10px);
}
#img2
{
	width: 33.3%;
	float: right;
	-webkit-filter:grayscale(100%);
	filter: grayscale(100%);
}
#img3
{
	width: 33.3%;
	float: left;
	-webkit-filter:sepia(90%);
	filter: sepia(90%);
}
#img4
{
	width: 33.3%;
	float: left;
	-webkit-filter:grayscale(100%);
	filter: grayscale(100%);
}
#img5
{
	width: 33.3%;
	float: left;
}
#img6
{
	width: 33.3%;
	float: left;
	-webkit-filter:grayscale(100%);
	filter: grayscale(100%);
}
	


/*PIE DE PAGINA*/

footer
{
	background-color: #C6d5c5;
	border-radius: 0px 0px 10px 10px;
	overflow: hidden;
	font-size: 14px;

}

footer ul
{
	padding: 0;
	list-style: none;
}

#footer
{
	width: 100%;
	padding: 15px;
}

#contacto
{
	width: 25%;
	height: 110px;
	float: left;
}

#terminos
{
	width: 25%;
	height: 100px;
	float: left;
}

#redes
{
	width: 25%;
	height: 130px;
	float: left;
}

#derechos
{
	width: 25%;
	height: 100px;
	float: left;
}



/*MEDIA QUERIES*/

@media only screen and (max-width: 600px)
{
	#contacto, #terminos, #redes, #derechos, #titulo, #enlaces
	{
		width: 100%;
		margin: 0;
		padding: 0;	
	}
	#pie
	{
		padding-left: 50px;
		font-size: 15px;
		margin: auto;
	}
	div#titulo
	{
		margin-left: 50px;
		padding: 10px;
		width: 70%;
		text-align: center;
		font-size: 20px;
	}

	div#enlaces ul
	{		
		width: 100%;
		margin-left: 40px;
		font-size: 20px;
	}
}

@media only screen and (max-width: 600px)
{
	#img1, #img2, #img3, #img4, #img5, #img6
	{
		width: 100%;
		margin: 0;
	}
}